# SPDX-FileCopyrightText: 2015-2018 CERN.
# SPDX-License-Identifier: MIT

include *.rst
include *.sh
include *.txt
include .dockerignore
include .editorconfig
include .tx/config
include LICENSE
include babel.ini
include docs/requirements.txt
include pytest.ini
prune docs/_build
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.py *.sh *.html *.txt
recursive-include invenio_userprofiles *.html
recursive-include invenio_userprofiles *.mo
recursive-include invenio_userprofiles *.po *.pot *.mo
recursive-include invenio_userprofiles *.py
recursive-include tests *.py
include .git-blame-ignore-revs
